GENERATE_SOURCEMAP=false

# --- Environment ---
NODE_ENV=development
REACT_APP_ENV=development

# -----------------------------------------------------
#api -> dev & Local Docker
REACT_APP_BASE_API_DEV=http://127.0.0.1:8000

#api -> prod // change the domai
REACT_APP_BASE_API_PROD=https://www.yourdomain.com

# public -> dev & Local Docker
REACT_APP_FILES_BASE_API_DEV=http://127.0.0.1:8000/public/

# public ->  prod // change the domain
REACT_APP_FILES_BASE_API_PROD=http://api.yourdomain.com/public/

# -----------------------------------------
REACT_APP_CLIENT_URL_DEV=http://127.0.0.1:3000
# change the domain
REACT_APP_CLIENT_URL_PROD=https://www.yourdomain.com

# -----------------------------------------------------


REACT_APP_STRIPE_PUBLIC_KEY=get_this_from_your_stripe_dashboard