@use '../../index.scss' as *;


.container_ {
    a {
        color: var(--on-surface) !important;

        &:hover {
            color: var(--primary) !important;
        }
    }

    .imgCon {
        position: relative;
        width: 40px;
        height: 40px;
        min-width: 40px;
        min-height: 40px;
        padding: 0 !important;
        @extend %rad;

        &:hover::after {
            display: none;
        }

        img {
            display: block;
            @extend %rad;
            cursor: pointer;
        }

        .UserHolder {
            font-size: 1.1rem;
            font-weight: 500;
            color: var(--on-surface);
            background-color: var(--primary);
            top: 0;
            left: 0;
            position: absolute;
            display: block;
            width: 100%;
            height: 100%;
            @extend %rad;
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    ul {
        z-index: 60005;
        left: calc(50% - 125px);
        top: 140%;
        padding: 0rem !important;

        .item_2 {
            padding: 0.2rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            position: relative;
            margin-bottom: 2px;
            width: 100%;

            a {
                color: var(--on-surface) !important;

                &:hover {
                    color: var(--primary) !important;
                }
            }
        }

        .item_ {
            padding: 0.5rem 0.5rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-bottom: 2px;

            .imgCon {
                width: 55px;
                height: 55px;

                img {
                    width: 55px;
                    height: 55px;
                }
            }

            h4 {
                margin: 7px;
                color: var(--primary);
                font-size: 20px;
            }

            h6 {
                color: var(--sonic-silver);
                font-size: 13px;
                margin: 0;
            }
        }

        & {
            background: var(--bg-surface);
            border: 1px solid var(--border-glass);
            box-shadow: var(--glass-shadow);
        }

        &::after {
            // box-shadow: var(--glass-shadow);
            background-color: transparent;
            z-index: -2;
            border: 1px solid;
            border-color: var(--border-glass) transparent transparent var(--border-glass);
            content: '';
            position: absolute;
            width: 20px;
            height: 20px;
            top: -10px;
            left: calc(50% - 10px);
            transform: rotate(45deg);
            -webkit-transform: rotate(45deg);
            -moz-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            -o-transform: rotate(45deg);
        }
    }
}

//-------------------------------------------------
%rad {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

//---------------------------
.header-top {
    display: none;
}

.menu-category .submenu-category-list {
    margin-left: 10px;
}

.banner-btn {
    width: 100%;
    background: var(--primary);
    color: var(--white);
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    font-size: var(--fs-8);
    font-weight: var(--weight-500);
    text-transform: uppercase;
    padding: 4px 25px;
    -webkit-border-radius: var(--border-radius-sm);
    border-radius: var(--border-radius-sm);
    -webkit-transition: var(--transition-timing);
    -o-transition: var(--transition-timing);
    transition: var(--transition-timing);
    border: 3px solid var(--primary);

    &:hover {
        background: transparent;
        color: var(--primary);
    }

    &.signUp {
        background: transparent;
        color: var(--primary);
        border: 3px solid var(--primary);
        padding: 4px 25px;

        &:hover {
            background: var(--primary);
            // border: 3px solid var(--primary);
            color: var(--on-surface);
        }
    }

    &.signIn {
        background: transparent;
        // color: var(--onyx);
        color: var(--sonic-silver);
        border: none;

        // padding: 7px 14px;
        &:hover {
            color: var(--primary);
        }
    }
}

// @media (min-width: 480px) {

@media (min-width: 1024px) {
    .header-top {
        display: block;
        padding: 5px 0;
    }

    .topbar-flex {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        // padding: 5px 0;
    }

    .header-social-container,
    .header-top-actions {
        display: none;
    }

    .header-alert-news {
        height: 100%;
        color: var(--sonic-silver);
        // color: var(--primary);
        font-size: var(--fs-9);
        text-transform: uppercase;
        font-weight: var(--weight-900);
        display: flex;
        align-items: center;
        justify-content: center;

        p {
            margin: 0;
        }
    }

    .header-alert-news b {
        font-weight: var(--weight-500);
    }

    .banner-btn {
        padding: 7px 20px;
    }
}

@media (min-width: 570px) {
    .header-top-actions {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        gap: 10px;
    }
}



@media (min-width: 768px) {
    .banner-btn {
        --fs-11: 0.75rem;
    }
}


@media (min-width: 1024px) {
    .header-social-container {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        gap: 5px;
        padding: 0;
        margin: 0;
    }

    .header-social-container .social-link {
        padding: 5px;
        background: transparent;
        color: var(--sonic-silver);
        border: 1px solid var(--sonic-silver);
        border-radius: 6px;
        -webkit-transition: var(--transition-timing);
        -o-transition: var(--transition-timing);
        transition: var(--transition-timing);
        display: flex;
        align-items: center;
        justify-content: center;
        width: 28px;
        height: 28px;
    }

    .header-social-container .social-link:hover {
        background: transparent;
        color: var(--primary);
        border-color: var(--primary);
    }

    .desktop-menu-category-list {
        position: relative;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        gap: 30px;
    }

    .desktop-menu-category-list .menu-category:not(:nth-child(2)) {
        position: relative;
    }

    .desktop-menu-category-list .menu-category>.menu-title {
        position: relative;
        color: var(--onyx);
        font-size: var(--fs-7);
        font-weight: var(--weight-600);
        text-transform: uppercase;
        padding: 15px 0;
        -webkit-transition: var(--transition-timing);
        -o-transition: var(--transition-timing);
        transition: var(--transition-timing);
    }

    .desktop-menu-category-list .menu-category>.menu-title:hover {
        color: var(--primary);
    }

    .desktop-menu-category-list .menu-category>.menu-title::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 2px;
        background: var(--primary);
        -webkit-transform: scaleX(0);
        -ms-transform: scaleX(0);
        transform: scaleX(0);
        -webkit-transform-origin: left;
        -ms-transform-origin: left;
        transform-origin: left;
        -webkit-transition: var(--transition-timing);
        -o-transition: var(--transition-timing);
        transition: var(--transition-timing);
    }

    .desktop-menu-category-list .menu-category>.menu-title:hover::after {
        -webkit-transform: scaleX(1);
        -ms-transform: scaleX(1);
        transform: scaleX(1);
    }

    .desktop-menu-category-list .menu-category:hover>.dropdown-panel {
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
        visibility: visible;
        pointer-events: all;
    }

    .dropdown-list {
        position: absolute;
        top: 100%;
        left: 0;
        width: 250px;
        background: var(--bg-surface);
        background-image: none !important;
        backdrop-filter: blur(16px);
        padding: 20px 0;
        -webkit-border-radius: var(--border-radius-md);
        border-radius: var(--border-radius-md);
        border: var(--border-standard);
        -webkit-box-shadow: var(--glass-shadow);
        box-shadow: var(--glass-shadow);
        -webkit-transform: translateY(50px);
        -ms-transform: translateY(50px);
        transform: translateY(50px);
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        -webkit-transition: var(--transition-timing);
        -o-transition: var(--transition-timing);
        transition: var(--transition-timing);
        z-index: 5;
    }

    .desktop-menu-category-list .menu-category:hover>.dropdown-list {
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
        visibility: visible;
        pointer-events: all;
    }

    .dropdown-list .dropdown-item a {
        color: var(--on-surface) !important;
        font-size: var(--fs-7);
        text-transform: capitalize;
        padding: 4px 20px;
        -webkit-transition: var(--transition-timing);
        -o-transition: var(--transition-timing);
        transition: var(--transition-timing);
    }

    .dropdown-list .dropdown-item a:hover {
        color: var(--primary) !important;
    }
}


@media (min-width: 1024px) {
    .banner-btn {
        --fs-11: 0.875rem;
    }
}


@media (min-width: 1200px) {
    .desktop-menu-category-list {
        gap: 45px;
    }
}

// @media (min-width: 1024px) {
// }